@import "../../styles/variables.scss";

.activityPage {
  color: $text-color;
  line-height: 1.5;
  font-size: 20px;

  h1 {
    margin-bottom: 50px;
  }
  form {
    gap: 30px;
    display: flex;
    flex-direction: column;
    max-width: 50%;

    .dropdownContainer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      select {
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: none;
        width: 180px;
      }
    }

    .inputContainer {
      display: flex;
      justify-content: space-between;
    }
    input {
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: none;
      width: 180px;
    }

    textarea {
      resize: none;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: none;
      height: 10rem;
    }
  }
}
