@import "../../styles/variables.scss";

.main {
  background-image: url("./background/background.svg");

  .center {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    backdrop-filter: blur(3px);

    .companyTitle {
      font-size: xx-large;
      text-align: center;
    }

    .logo {
      max-width: 350px;
    }

    .description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0vh 10vh 5vh 10vh;
      max-width: 1000px;
      margin: 0 auto;
      gap: 30px;
      color: $text-color;
      line-height: 1.5;
      font-size: 20px;
    }

    .buttons {
      display: flex;
      gap: 30px;
    }
  }
}
