@import "./variables.scss";

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Your Preferred Font", sans-serif;
  background-image: url("./public/background/background.svg");
}

.container {
  display: flex;
}

.menuContainer {
  width: 250px;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  padding: 0.8rem 2rem;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid $gray-color;
  border-radius: 15px;
  background-color: $text-color;
  color: $gray-color;
}

.button:hover {
  background-color: $softLight-bg;
}
