@import "./variables.scss";

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Your Preferred Font", sans-serif;
  background-color: $main-bg;
}

.container {
  display: flex;
  height: calc(100vh - 170px);
}

.menuContainer {
  width: 250px;
  padding: 5px 20px;
  background-color: $soft-bg;
  border-right: 2px solid $softLight-bg;
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
  background-color: $main-bg;
  border-top: 1px solid $text-color;
  border-left: 1px solid $text-color;
  border-bottom: 1px solid $text-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  cursor: pointer;
  padding: 0.8rem 2rem;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid $gray-color;
  border-radius: 15px;
  background-color: $text-color;
  color: $gray-color;
}

.button:hover {
  background-color: $softLight-bg;
}

.submitButton {
  margin-top: 50px;
  padding: 0.8rem 2rem;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid $gray-color;
  border-radius: 15px;
  background-color: $text-color;
  color: $gray-color;
  max-width: 20rem;
  align-self: center;
  cursor: pointer;
}
