$main-bg: #113f67;
$soft-bg: #38598b;
$softLight-bg: #a2a8d3;
$light-bg: #e7eaf6;

$text-color: #ffffff;
$gray-color: #242526;
$black-color: #000000;

$error-color: #ff3333;
$active-color: #15ff00;