@import "../../styles/variables.scss";

.menu {
  padding-top: 20px;
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    .title {
      font-size: 20px;
      font-weight: 200;
      color: $text-color;
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 7px;

      &:hover {
        background-color: $softLight-bg;
      }

      .listItemTitle {
        color: $text-color;
      }

      .icon {
        width: 50px;
        max-width: 25px;
        max-height: 25px;
      }
    }
  }
}
