@import "../../styles/variables.scss";

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $soft-bg;
  border-bottom: 2px solid $softLight-bg;
  padding: 10px 20px 10px 20px;
  gap: 10px;
  font-size: 20px;
  span {
    color: $text-color;
  }
}
