@import "../../styles/variables.scss";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $soft-bg;
  border-top: 2px solid $softLight-bg;
  color: $text-color;
  padding: 0px 20px 0px 10px;

  .logo {
    max-width: 100px;
  }
}
