@import "../../styles/variables.scss";

.users {
  .info {
    gap: 20px;
    display: flex;
    align-items: end !important;

    h1 {
      color: $text-color;
      margin-top: 20px;
    }

    .backButton {
      background: none;
      border: none;
      cursor: pointer;
      margin: 20px;
    }
  }
}
