@import "../../styles/variables.scss";

.dataTable {
  .dataGrid {
    border-radius: 7px;
    background: $text-color;
    padding: 20px;
    color: $black-color;
    text-align: center;

    .MuiDataGrid-toolbarContainer {
      flex-direction: row-reverse;
    }

    .action {
      display: flex;
      gap: 15px;
      
      .delete {
        cursor: pointer;
      }
    }
  }
}
