@import "../../styles/variables.scss";

.users {
  .infoUsers {
    gap: 20px;
    display: flex;
    align-items: center !important;

    h1 {
      color: $text-color;
      margin: 20px 0px 20px 0px;
    }

    .addButton {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
